.nav {
  padding: 70px 0;
  background-color: #fff;
  color: #626262;
  font-size: 14px;
  font-weight: 400;
}

.logo {
  margin-right: auto;
  color: #000000;
  width: 125px;
  font-size: 30px;
  font-family: 'Inconsolata', monospace;
}
.nav-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-list {
  display: flex;
  gap: 30px;
}
.nav-list__link {
  color: #626262;
  font-size: 14px;
  font-weight: 400;
  opacity: 1;
  text-transform: uppercase;
  transition: opacity 0.2s ease-in;
}

.nav-list__link:hover {
  opacity: 0.8;
}
