.footer {
  padding-top: 40px;
  padding-bottom: 50px;
  background-color: #f0f0f0;
  color: #000000;
  font-size: 14px;
}
.copyright {
  display: flex;
  gap: 20px;
}
.copyright p {
  color: #000000;
  font-size: 14px;
  font-weight: 600;
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
}
.social {
  display: flex;
  gap: 20px;
  color: #626262;
}

.social__item a {
  color: #626262;
  font-weight: 600;
  font-size: 16px;
}
