.gallery-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 60px;
  row-gap: 100px;
}

.card {
  flex-basis: calc((100% - 60px) / 2);
}

.card__wrap {
  padding-top: 30px;
  padding-bottom: 30px;
}
